@media screen and (max-width: 1400px) {
  .header-container,
  .home-container,
  .todo-container,
  .deals-container,
  .plan-container,
  .about-container,
  .blog-container,
  .footer-container {
    zoom: 90%;
  }
}

@media screen and (max-width: 1200px) {
  .header-container,
  .home-container,
  .todo-container,
  .deals-container,
  .plan-container,
  .about-container,
  .blog-container,
  .footer-container {
    zoom: 80%;
  }
}

@media screen and (max-width: 992px) {
  h1 {
    font-size: 2.8rem;
    width: 85%;
  }
  .header-nav-banner {
    gap: 3em;
    width: 70%;
  }
  .nav-buttons {
    gap: 0;
  }
  .nav-buttons button {
    padding: 0.5em 0.9em;
    border-radius: 5px;
  }
}

@media screen and (max-width: 768px) {
  .navbar {
    display: none;
  }
  .menu-icon {
    display: block;
  }
  .menu-icon i {
    font-size: 2rem;
    color: var(--primary-color);
    padding: 0.3em 0 0.3em 0.5em;
    margin-right: -7px;
  }
  .nav-buttons button {
    padding: 0.5em 2em;
    border-radius: 18px;
  }
  h1 {
    font-size: 2.8rem;
    width: 80%;
  }
  .home-content p {
    width: 70%;
  }
  h2 {
    font-size: 2.5rem;
  }
  .description {
    font-size: 1.12rem;
    line-height: 1.8;
  }
  .about-content p {
    white-space: no-wrap;
    width: 60%;
  }
  .header-container,
  .home-container,
  .todo-container,
  .deals-container,
  .plan-container,
  .about-container,
  .blog-container,
  .footer-container {
    zoom: 60%;
  }
}

@media screen and (max-width: 612px) {
  h1 {
    font-size: 2.5rem;
    width: 90%;
  }
  .home-content p {
    width: 100%;
  }
}

@media screen and (max-width: 480px) {
  .header-container,
  .home-container,
  .todo-container,
  .deals-container,
  .plan-container,
  .footer-container {
    overflow: hidden;
  }
  .logo h3 {
    font-size: 2.3em;
  }
  .logo img {
    height: 30px;
  }
  .header-nav-banner {
    display: none;
  }
  .menu-icon {
    display: block;
  }
  .menu-icon i {
    font-size: 2rem;
    color: var(--primary-color);
    padding-left: 0.3em;
  }
  .header-container {
    padding: 0.5 2em;
  }
  .home-container {
    padding: 0 2em;
  }

  .home-discover {
    display: flex;
    flex-direction: row-reverse;
  }
  .home-content {
    width: 100%;
    margin-top: -50px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .home-content h1 {
    font-size: 2.8rem;
    text-align: center;
  }
  .home-content p {
    width: 100%;
    font-size: 1.3rem;
    text-align: center;
  }
  .home-content a {
    text-align: center;
    margin: 0 auto 1.8em auto;
    font-size: 1.5rem;
    padding: 0.8em 2em;
  }
  .home-image {
    width: 100%;
    top: 90%;
    height: 130%;
  }
  .home-man-img {
    width: 80%;
    bottom: 10px;
    left: 35px;
  }
  .home-plan-img {
    width: 110%;
    left: 0;
  }
  .home-ellipse-img {
    width: 90%;
    left: 23px;
  }
  .home-explore {
    margin-top: 120%;
    margin-bottom: 0;
    flex-direction: column;
    gap: 2em;
    width: 80%;
    align-items: center;
    text-align: center;
    padding: 3em 0;
    border-radius: 10px;
  }
  .home-image h4 {
    font-size: 1rem;
  }
  .home-image p {
    font-size: 0.8rem;
  }
  .home-exp-btn {
    font-size: 1.6rem;
    padding: 0.7em 1.8em;
  }
  .home-explore h4 {
    font-size: 1.5rem;
  }

  .home-explore p {
    font-size: 1.2rem;
  }
  .home-image-award-sticker {
    left: -7%;
    top: 30%;
    padding: 0.5em;
  }
  .home-image-award-sticker img {
    width: 25%;
  }
  .home-image-rating-sticker {
    top: 65%;
    left: -7%;
    padding: 0.5em 0.2em;
  }
  .home-image-rating-sticker img {
    width: 15%;
  }
  .home-image-location-sticker {
    right: -7%;
    top: 50%;
    padding: 0.5em 0.2em;
  }
  .home-image-location-sticker img {
    width: 20%;
  }
  .todo-content h2 {
    font-size: 2.5rem;
    text-align: center;
    width: 80%;
  }
  .todo-content p {
    width: 100%;
    font-size: 1.5rem;
    text-align: center;
  }
  .todo-cards-container {
    flex-direction: column;
    align-items: center;
  }
  .todo-card {
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .todo-card p {
    text-align: center;
    font-size: 1.3rem;
  }
  .todo-card h3 {
    text-align: center;
    font-size: 1.5rem;
  }
  .todo-content-image {
    width: 25%;
    top: 25%;
    right: -13%;
  }
  .todo-content-image img {
    width: 75%;
  }
  .deals-info h2 {
    font-size: 2.5rem;
    text-align: center;
  }
  .deals-info p {
    font-size: 1.5rem;
    text-align: center;
    width: 80%;
  }
  .deals-card-container {
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 2em;
  }
  .deals-card {
    width: 45%;
  }
  .deals-card-rate {
    font-size: 1.12rem;
  }
  .deals-card-offer-rate {
    font-size: 1.12rem;
  }
  .deals-card-title {
    font-size: 1.5rem;
  }
  .deals-card-location {
    font-size: 1.12rem;
  }

  .rating {
    font-size: 1.2rem;
  }
  .deals-nav-btn-container {
    padding: 3.5em;
    display: flex;
    gap: 2em;
    justify-content: center;
  }
  .plan-info h2 {
    font-size: 2.5rem;
    text-align: center;
  }
  .plan-info p {
    font-size: 1.5rem;
    text-align: center;
    width: 90%;
  }
  .plan-info img {
    position: absolute;
    top: 0;
    left: 85%;
    width: 15%;
  }
  .plan-nav-btn-container {
    justify-content: center;
    padding: 0;
  }
  .plan-nav-btn {
    padding: 1.5em;
  }
  .plan-cards-container {
    flex-direction: column;
    align-items: center;
    gap: 2em;
  }
  .plan-card {
    width: 65%;
  }
  .plans-card-countryname {
    font-size: 1.5rem;
  }
  .plans-card-rate {
    font-size: 1.5rem;
  }

  .plan-duration {
    font-size: 1.2rem;
  }
  .about-container {
    flex-direction: column;
    justify-content: center;
  }
  .about-content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .about-content h2 {
    font-size: 2.5rem;
    text-align: center;
    margin: -3em 0 0.5em 0;
  }
  .about-content p {
    font-size: 1.5rem;
    text-align: center;
    width: 90%;
  }
  .about-popup-container {
    width: 100%;
    margin: 3em 0 0 2em;
  }
  .about-popup-container > img {
    top: -25%;
    right: 0;
    width: 20%;
  }
  .about-message-content {
    font-size: 1.3rem;
  }

  .about-message-person {
    font-size: 1.2rem;
  }
  .about-message-location {
    font-size: 1rem;
  }
  .about-popup-card-back {
    top: 40%;
    left: 8%;
  }
  .about-popup-card {
    padding: 1.5em 2em 0.2em 2em;
  }
  .about-nav-btn-container {
    display: flex;
    justify-content: center;
  }
  .blog-container > h2 {
    font-size: 2.5rem;
  }
  .blog-cards-container {
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 2em;
  }
  .blog-card {
    width: 45%;
  }
  .blog-card-content {
    font-size: 1.3rem;
  }
  .blog-card-date {
    font-size: 1.3rem;
  }
  .blog-nav-btn-container {
    padding: 3em 0 7em 0;
  }
  .subscribe-box {
    width: 70%;
  }
  .subscribe-banner h2 {
    font-size: 2rem;
  }
  .subscribe-tree-image {
    top: 30px;
    right: 5px;
    width: 12%;
  }
  .subscribe-circle-image {
    height: 60%;
  }
  .subscribe-banner {
    padding: 2em 1em;
  }
  .subscribe-banner-container {
    bottom: -15%;
  }
  .footer-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 7em;
  }
  .footer-nav-banner {
    flex-direction: column-reverse;
    gap: 3em;
  }
  .footer-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5em;
  }
  .footer-nav-links-container {
    width: 100%;
    flex-direction: column;
    gap: 3em;
  }
  .footer-nav-bar-heading {
    text-align: center;
  }
  .footer-nav-links {
    align-items: center;
  }
  .footer-content p {
    padding: 0;
    text-align: center;
    font-size: 1.4rem;
  }
  .footer-content > h3 {
    margin-left: -50px;
    font-size: 2.2rem;
  }
  .footer-nav-links a {
    font-size: 1.5rem;
  }
  .footer-nav-bar-heading {
    font-size: 1.8rem;
  }
  .footer-social-icons i {
    font-size: 1.5rem;
  }
  .footer-copyright {
    width: 100%;
    flex-direction: column;
    align-items: center;
    gap: 1em;
  }
  .footer-copyright p {
    text-align: center;
  }
}


